@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply w-full h-full text-gray-800;
    }

    #__next {
        @apply w-full h-full grid grid-rows-[auto,1fr,auto];
    }
    html {
        @apply scroll-smooth;
    }
    body {
        @apply scrollbar-hide;
    }
    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Thin.woff2") format("woff2");
        font-weight: 200;
    }
    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Light.woff2") format("woff2");
        font-weight: 300;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Regular.woff2") format("woff2");
        font-weight: 400;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Medium.woff2") format("woff2");
        font-weight: 500;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-SemiBold.woff2") format("woff2");
        font-weight: 600;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Bold.woff2") format("woff2");
        font-weight: 700;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Bold.woff2") format("woff2");
        font-weight: bold;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-ExtraBold.woff2") format("woff2");
        font-weight: 800;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-Black.woff2") format("woff2");
        font-weight: 900;
    }

    @font-face {
        font-family: "Thicccboi";
        src: url("../fonts/THICCCBOI-ThicccAF.woff2");
        font-weight: 950;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-gray-800;
    }
    h1 {
        @apply text-4xl md:text-h1 leading-[2.875rem] md:leading-[5.187rem];
    }
    h2 {
        @apply text-[2rem] md:text-h2 leading-[2.25rem] md:leading-[4.2rem];
    }
    h3 {
        @apply text-4xl md:text-5xl leading-[2.56rem] md:leading-[3.43rem];
    }
    h4 {
        @apply text-2xl md:text-h3 leading-[1.9rem] md:leading-[3rem];
    }
    h5 {
        @apply text-base md:text-2xl;
    }
    h6 {
        @apply text-base md:text-xl;
    }
    p {
        @apply text-base md:text-xl text-gray-900;
    }
    .container {
        @apply px-4 md:py-2   mx-auto;
        /* md:max-w-[calc(100%-7rem)] lg:max-w-[calc(100%-16rem)]
         xl:max-w-[calc(100%-24rem)] 2xl:max-w-5xl mx-auto; */
    }
    .primary-button {
        @apply bg-secondary-100 min-w-[7rem]
         transition-all ease-in font-bold py-3 px-5 
         shadow-medium hover:shadow-none focus:shadow-none  
         text-sm xl:text-xl xl:min-w-[12rem] xl:py-4 lg:text-lg lg:min-w-[10rem] lg:py-4;
    }
    .star {
        @apply text-secondary-200 text-sm;
    }
}
